<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="container">
            <div class="row d-flex flex-column align-items-center my-4">
                <div class="row mb-2">
                    <a asp-area="Main" asp-controller="Home" asp-action="Index" class="h2">Stepre - Main</a>
                </div>
                <div class="row w-100">
                    <a asp-area="Main" asp-controller="Home" asp-action="Index">
                        <img src="~/Admin/images/Capture.png" class="w-100">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>