@{
    SupportedPayment payment = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Payment</h4>
                <p>
                    @payment.Name
                </p>
                <p>
                    @payment.ImgUrl
                </p>
            </div>
        </div>
    </div>
</div>