<!--Wishlist Area Start-->
<div class="wishlist-concept">
    <div class="container">
        <div class="row flex-md-row-reverse">
            <div class=" col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="s-title">
                            <h1>MY Wishlist</h1>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Details and Comment</th>
                                <th>Add to Cart</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a asp-controller="product" class="tb-img">
                                        <img src="~/img/product/tab-5.jpg"
                                             class="img-responsive" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6><a asp-controller="product">Laoreet Congue</a></h6>
                                    <p>
                                        Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis
                                        vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum
                                        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean
                                        eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper.
                                        Nulla luctus malesuada tincidunt.Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos himenaeos. Integer enim purus,
                                        posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium
                                        eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non
                                        arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis.
                                    </p>
                                    <textarea placeholder="Please, enter your comments..."></textarea>
                                </td>
                                <td class="text-center">
                                    <div class="price-box">
                                        <span class="special-price">$156.87</span>
                                    </div>
                                    <form>
                                        <input type="text" placeholder="1">
                                    </form>
                                    <a class="cart-button-wi" href="#">Add to Cart</a>
                                    <a class="edit" href="#">Edit</a>
                                </td>
                                <td><a class="remove" href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <a asp-controller="product" class="tb-img">
                                        <img src="~/img/product/p-5.jpg"
                                             class="img-responsive" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6><a asp-controller="product">Laoreet Congue</a></h6>
                                    <p>
                                        Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis
                                        vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum
                                        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean
                                        eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper.
                                        Nulla luctus malesuada tincidunt.Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos himenaeos. Integer enim purus,
                                        posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium
                                        eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non
                                        arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis.
                                    </p>
                                    <textarea placeholder="Please, enter your comments..."></textarea>
                                </td>
                                <td class="text-center">
                                    <div class="price-box">
                                        <span class="special-price">$156.87</span>
                                    </div>
                                    <form>
                                        <input type="text" placeholder="1">
                                    </form>
                                    <a class="cart-button-wi" href="#">Add to Cart</a>
                                    <a class="edit" href="#">Edit</a>
                                </td>
                                <td><a class="remove" href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="all-cart-buttons">
                    <a href="#">Share Wishlist</a>
                    <a href="#">Add all to Cart </a>
                    <a href="#">update wishlist</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <aside class="widge-topbar">
                    <div class="p-widget-title">
                        <div class="left-sidebar-title">
                            <h3>My Account</h3>
                        </div>
                    </div>
                </aside>
                <aside>
                    <div class="wish-left-menu">
                        <ul>
                            <li><a href="#">Account Dashboard</a></li>
                            <li><a href="#">Account Information</a></li>
                            <li><a href="#">Address Book</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">Billing Agreements</a></li>
                            <li><a href="#">Recurring Profiles</a></li>
                            <li><a href="#">My Product Reviews</a></li>
                            <li><a href="#">My Tags</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">My Applications</a></li>
                            <li><a href="#">My Downloadable Products</a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="widget widget-banner border-hover">
                    <a asp-controller="shop"><img src="~/img/banner/banner-30.jpg" alt="ipad mini"></a>
                </aside>
            </div>
        </div>
    </div>
</div>
<!--End of Wishlist Area-->