@{
    SocialMedia social = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Social media</h4>
                <p>
                    @social.Platform
                </p>
                <p>
                    @social.Url
                </p>
                <p>
                    @social.Icon
                </p>
            </div>
        </div>
    </div>
</div>